<a href="mailto:abdemanaaf.ghadiali.1998@gmail.com" title="email"><i class="fa-solid fa-envelope"></i></a>
<a href="https://www.linkedin.com/in/abde-manaaf-ghadiali/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
<a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
<a href="https://medium.com/@abdemanaaf.ghadiali.1998" title="Medium"><i class="fa-brands fa-medium"></i></a>