<!DOCTYPE html>
<html lang={{ site.lang }}>
    <head>
        {% if page.redirect %}
          {% if page.redirect == true %}
            {% assign redirect = site.baseurl | append: '/' %}
          {% elsif page.redirect contains '://' %}
            {% assign redirect = page.redirect %}
          {% else %}
            {% assign redirect = page.redirect | relative_url %}
          {% endif %}

          <meta http-equiv="refresh" content="3; url={{ redirect }}">
        {% endif %}

        {% include head.liquid %}
      </head>

<body class="fixed-top-nav sticky-bottom-footer">
    {% include header.liquid %}
    <main>
        <div class="container mt-5" role="main">
          {{ content }}
        </div>
    </main>

    {% include footer.liquid %}
    {% include scripts.liquid %}
</body>

</html>